gws-client-rr-3564/src/main/resources/rr_xsd/SubSchemas/P_AllSimpleType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by SHOCK (SHOCK) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="01">
	<xs:simpleType name="s2">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 2 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Ограничения на тип строка-->
	<xs:simpleType name="s3">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 3 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s4">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 4 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s6">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 6 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s8">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 8 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s9">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 9 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s10">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 10 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s11">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 11 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s12">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 12 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s13">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 13 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s20">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 20 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s25">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 25 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s30">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 30 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sCadastralNumber">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 40 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s45">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 45 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s50">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 50 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s60">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 60 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="60"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s100">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 100 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s250">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 250 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="250"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s255">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 255 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s500">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 500 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s512">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 512 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s1000">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 1000 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s1500">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 1500 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s2046">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 2046 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2046"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s2500">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 2500 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="s4000">
		<xs:annotation>
			<xs:documentation>строка с ограничением длины до 4000 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="l6">
		<xs:annotation>
			<xs:documentation>строка с длиной 6 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sSnils">
		<xs:annotation>
			<xs:documentation>строка СНИЛС с органичениями</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="14"/>
			<xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{3} [0-9]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sGUID">
		<xs:annotation>
			<xs:documentation>строка GUID с органичениями</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
			<xs:pattern value="[0-F,0-f]{8}-[0-F,0-f]{4}-[0-F,0-f]{4}-[0-F,0-f]{4}-[0-F,0-f]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Ограничения на тип идентификатор -->
	<xs:simpleType name="sID255">
		<xs:annotation>
			<xs:documentation>идентификатор с ограничением длины до 255 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:ID">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sIDREF255">
		<xs:annotation>
			<xs:documentation>ссылка на идентификатор с ограничением длины до 255 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:IDREF">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<!--Ограничения на тип число-->
	<xs:simpleType name="d4">
		<xs:annotation>
			<xs:documentation>число с ограничением длины до 4 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="d20">
		<xs:annotation>
			<xs:documentation>число с ограничением длины до 20 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="d20_2">
		<xs:annotation>
			<xs:documentation>число с ограничением длины до 20 знаков и 2 знаков после запятой</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="d38">
		<xs:annotation>
			<xs:documentation>число с ограничением длины до 38 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="38"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="i2">
		<xs:annotation>
			<xs:documentation>целое число с ограничением длины до 2 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="i3">
		<xs:annotation>
			<xs:documentation>целое число с ограничением длины до 3 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="i22">
		<xs:annotation>
			<xs:documentation>целое число с ограничением длины до 22 знаков</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="22"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="i22Min1">
		<xs:annotation>
			<xs:documentation>целое число с ограничением длины до 22 знаков начинается с 1</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:integer">
			<xs:totalDigits value="22"/>
			<xs:minInclusive value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
