gws-client-rr-3564/src/main/resources/rr_wsdl/SmevTypes2.xsd

<?xml version="1.0" ?><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://smev.gosuslugi.ru/rev111111" xmlns:smev="http://smev.gosuslugi.ru/rev111111" xmlns:typ="http://portal.fccland.ru/types/" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://www.w3.org/2004/08/xop/include" schemaLocation="xop-include.xsd"></xs:import>
        <xs:import namespace="http://portal.fccland.ru/types/" schemaLocation="Rosreestr2.xsd"></xs:import>
	<xs:element name="Header" type="smev:HeaderType">
		<xs:annotation>
			<xs:documentation>Служебный загловок СМЭВ</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Message" type="smev:MessageType">
		<xs:annotation>
			<xs:documentation>Служебный
				блок
				атрибутов
				СМЭВ
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Sender" type="smev:orgExternalType">
		<xs:annotation>
			<xs:documentation>Данные
				о
				системе ициаторе
				взаимодействия
				(Потребителе)
				(валидируется
				СМЭВ
				на
				соответствие
				сертификату)
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Recipient" type="smev:orgExternalType">
		<xs:annotation>
			<xs:documentation>Данные
				о
				системе получателе
				сообщения
				(Поставщике)
				(валидируется
				СМЭВ
				рестру
				поставщиков)
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Originator" type="smev:orgExternalType">
		<xs:annotation>
			<xs:documentation>Данные
				о
				системе,
				инициировавашей
				цепочку
				из
				нескольких
				запросов ответов,
				объединенных
				единым
				процессом
				в
				рамках
				взаимодействия
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TypeCode" type="smev:TypeCodeType">
		<xs:annotation>
			<xs:documentation>Тип сообщения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Date" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Дата
				создания
				запроса</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RequestIdRef" type="smev:idType">
		<xs:annotation>
			<xs:documentation>Идентификатор
				сообщения-запроса,
				инициировавшего
				взаимодействие
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="OriginRequestIdRef" type="smev:idType">
		<xs:annotation>
			<xs:documentation>Идентификатор
				сообщения-запроса,
				инициировавшего
				цепочку
				из
				нескольких
				запросов-ответов,
				объединенных
				единым
				процессом
				в
				рамках
				взаимодействия
</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ServiceCode" type="xs:string">
		<xs:annotation>
			<xs:documentation>Код
				услуги</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CaseNumber" type="xs:string">
		<xs:annotation>
			<xs:documentation>Номер
				заявки
				в
				информационной
				системе отправителе
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MessageId" type="smev:idType">
		<xs:annotation>
			<xs:documentation>Идентификатор
				сообщения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TimeStamp" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Метка
				времени
				получения
				запроса
				СМЭВом
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="NodeId" type="xs:string">
		<xs:annotation>
			<xs:documentation>Уникальный
				идентификатор
				узла</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MessageClass" type="smev:MessageClassType">
		<xs:annotation>
			<xs:documentation>Идентификатор
				класса
				сообщения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Status" type="smev:StatusType">
		<xs:annotation>
			<xs:documentation>Статус
				сообщения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ExchangeType" type="xs:string">
		<xs:annotation>
			<xs:documentation>Категория
				взаимодействия</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BinaryData" type="xs:base64Binary">
		<xs:annotation>
			<xs:documentation>Контент
				вложения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Reference" type="smev:ReferenceType">
		<xs:annotation>
			<xs:documentation>Ссылка
				на
				вложение</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DigestValue" type="xs:base64Binary">
		<xs:annotation>
			<xs:documentation>Хеш код
				вложения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TestMsg" type="xs:string">
		<xs:annotation>
			<xs:documentation>Идентификатор
				тестового
				запроса</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RequestCode" type="xs:string">
		<xs:annotation>
			<xs:documentation>Код
				заявления</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="HeaderType">
		<xs:sequence>
			<xs:element ref="smev:NodeId"></xs:element>
			<xs:element ref="smev:MessageId"></xs:element>
			<xs:element ref="smev:TimeStamp"></xs:element>
			<xs:element ref="smev:MessageClass"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageType">
		<xs:sequence>
			<xs:element ref="smev:Sender"></xs:element>
			<xs:element ref="smev:Recipient"></xs:element>
			<xs:element minOccurs="0" ref="smev:Originator"></xs:element>
			<xs:element ref="smev:TypeCode"></xs:element>
			<xs:element ref="smev:Status"></xs:element>
			<xs:element ref="smev:Date"></xs:element>
			<xs:element ref="smev:ExchangeType"></xs:element>
			<xs:element minOccurs="0" ref="smev:RequestIdRef"></xs:element>
			<xs:element minOccurs="0" ref="smev:OriginRequestIdRef"></xs:element>
			<xs:element minOccurs="0" ref="smev:ServiceCode"></xs:element>
			<xs:element minOccurs="0" ref="smev:CaseNumber"></xs:element>
			<xs:element minOccurs="0" ref="smev:TestMsg"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AppDocumentType">
		<xs:sequence>
			<xs:element ref="smev:RequestCode"></xs:element>
			<xs:element ref="smev:BinaryData"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType mixed="true" name="ReferenceType">
		<xs:sequence>
			<xs:element minOccurs="0" ref="xop:Include"></xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="orgExternalType">
		<xs:annotation>
			<xs:documentation>Сведения
				об
				информационной
				системе
</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="xs:string">
				<xs:annotation>
					<xs:documentation>Идентификатор
						системы</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование
						системы</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TypeCodeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GSRV">
				<xs:annotation>
					<xs:documentation>Взаимодействие
						в
						рамках
						оказания
						государственных
						услуг
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GFNC">
				<xs:annotation>
					<xs:documentation>Взаимодействие
						в
						рамках
						исполнения
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MessageClassType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REQUEST">
				<xs:annotation>
					<xs:documentation>Запрос
						от
						потребителя
						к
						поставщику
</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RESPONSE">
				<xs:annotation>
					<xs:documentation>Ответ
						поставщика
						потребителю</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="REQUEST">
				<xs:annotation>
					<xs:documentation>Запрос</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RESULT">
				<xs:annotation>
					<xs:documentation>Результат</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="REJECT">
				<xs:annotation>
					<xs:documentation>Мотивированный
						отказ</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INVALID">
				<xs:annotation>
					<xs:documentation>Ошибка
						при
						ФЛК</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ACCEPT">
				<xs:annotation>
					<xs:documentation>Сообщение-­‐квиток
						о
						приеме</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PING">
				<xs:annotation>
					<xs:documentation>Запрос
						данных/результатов</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PROCESS">
				<xs:annotation>
					<xs:documentation>В
						обработке</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NOTIFY">
				<xs:annotation>
					<xs:documentation>Уведомление
						об
						ошибке</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAILURE">
				<xs:annotation>
					<xs:documentation>Технический
						сбой</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CANCEL">
				<xs:annotation>
					<xs:documentation>Отзыв
						заявления</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="STATE">
				<xs:annotation>
					<xs:documentation>Возврат
						состояния</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="idType">
		<xs:restriction base="xs:string"></xs:restriction>
	</xs:simpleType>

       <xs:complexType name="createRequestRequestMessage">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="smev:Message"></xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="smev:createRequestRequestMessageData"></xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="createRequestRequestMessageData">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="AppData" type="typ:createRequestRequestMessageType"></xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="AppDocument" type="smev:AppDocumentType"></xs:element>
            </xs:sequence>
        </xs:complexType>
       <xs:complexType name="createRequestResponseMessage">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="smev:Message"></xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="smev:createRequestResponseMessageData"></xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="createRequestResponseMessageData">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="AppData" type="typ:createRequestResponseMessageType"></xs:element>
                <xs:element minOccurs="0" name="AppDocument" type="smev:AppDocumentType"></xs:element>
            </xs:sequence>
        </xs:complexType>

       <xs:complexType name="getStatusRequestMessage">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="smev:Message"></xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="smev:getStatusRequestMessageData"></xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="getStatusRequestMessageData">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="AppData" type="typ:getStatusRequestMessageType"></xs:element>
                <xs:element minOccurs="0" name="AppDocument" type="smev:AppDocumentType"></xs:element>
            </xs:sequence>
        </xs:complexType>
       <xs:complexType name="getStatusResponseMessage">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="smev:Message"></xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="smev:getStatusResponseMessageData"></xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="getStatusResponseMessageData">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="AppData" type="typ:getStatusResponseMessageType"></xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="AppDocument" type="smev:AppDocumentType"></xs:element>
            </xs:sequence>
        </xs:complexType>

       <xs:complexType name="getEventsRequestMessage">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="smev:Message"></xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="smev:getEventsRequestMessageData"></xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="getEventsRequestMessageData">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="AppData" type="typ:getEventsRequestMessageType"></xs:element>
                <xs:element minOccurs="0" name="AppDocument" type="smev:AppDocumentType"></xs:element>
            </xs:sequence>
        </xs:complexType>
       <xs:complexType name="getEventsResponseMessage">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="smev:Message"></xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="smev:getEventsResponseMessageData"></xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="getEventsResponseMessageData">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="AppData" type="typ:getEventsResponseMessageType"></xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="AppDocument" type="smev:AppDocumentType"></xs:element>
            </xs:sequence>
        </xs:complexType>


       <xs:complexType name="loadEventDetailsRequestMessage">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="smev:Message"></xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="smev:loadEventDetailsRequestMessageData"></xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="loadEventDetailsRequestMessageData">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="AppData" type="typ:loadEventDetailsRequestMessageType"></xs:element>
                <xs:element minOccurs="0" name="AppDocument" type="smev:AppDocumentType"></xs:element>
            </xs:sequence>
        </xs:complexType>
       <xs:complexType name="loadEventDetailsResponseMessage">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" ref="smev:Message"></xs:element>
                <xs:element maxOccurs="1" minOccurs="1" name="MessageData" type="smev:loadEventDetailsResponseMessageData"></xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:complexType name="loadEventDetailsResponseMessageData">
            <xs:sequence>
                <xs:element maxOccurs="1" minOccurs="1" name="AppData" type="typ:loadEventDetailsResponseMessageType"></xs:element>
                <xs:element maxOccurs="1" minOccurs="0" name="AppDocument" type="smev:AppDocumentType"></xs:element>
            </xs:sequence>
        </xs:complexType>

</xs:schema>