gws-client-fss-3415/src/main/resources/fss3415/SvedNoRegDobrStrahNoTrudOrMat_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown.--><xs:schema version="1.0" targetNamespace="http://fss.ru/SvedNoRegDobrStrahNoTrudOrMat" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="запрос">
    <xs:sequence/>
    <xs:attribute name="iNameCiv" type="xs:string" use="required"/>
    <xs:attribute name="fNameCiv" type="xs:string" use="required"/>
    <xs:attribute name="mNameCiv" type="xs:string"/>
    <xs:attribute name="codeKind" type="xs:string" use="required"/>
    <xs:attribute name="seriesNumber" type="xs:string" use="required"/>
    <xs:attribute name="docDataCiv" type="xs:date" use="required"/>
    <xs:attribute name="inn" type="xs:string"/>
    <xs:attribute name="snils" type="xs:string"/>
    <xs:attribute name="regionFrom" type="xs:string" use="required"/>
    <xs:attribute name="nameOrganizationFrom" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="ответ">
    <xs:sequence/>
    <xs:attribute name="iNameCiv" type="xs:string" use="required"/>
    <xs:attribute name="fNameCiv" type="xs:string" use="required"/>
    <xs:attribute name="mNameCiv" type="xs:string"/>
    <xs:attribute name="codeKind" type="xs:string" use="required"/>
    <xs:attribute name="seriesNumber" type="xs:string" use="required"/>
    <xs:attribute name="docDataCiv" type="xs:date" use="required"/>
    <xs:attribute name="inn" type="xs:string"/>
    <xs:attribute name="snils" type="xs:string"/>
    <xs:attribute name="regionTo" type="xs:string" use="required"/>
    <xs:attribute name="nameOrganizationTo" type="xs:string" use="required"/>
    <xs:attribute name="obtainingGrants2" type="xs:boolean" use="required"/>
    <xs:attribute name="registrationNumber" type="xs:string" use="required"/>
    <xs:attribute name="registrationDate" type="xs:date"/>
    <xs:attribute name="removalAccountDate" type="xs:date"/>
  </xs:complexType>
</xs:schema>