gws-client-fns-3626/src/main/resources/fns3626/FNSINNFIODRSvc_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2.--><!--edited with XMLSpy v2011 sp1 (http://www.altova.com) by vi (FGUP GNIVC FNS Russia)--><xs:schema targetNamespace="http://ws.unisoft/INNFIODR/Query/Rq" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.unisoft/INNFIODR/Query/Rq">
  <xs:element name="Документ">
    <xs:annotation>
      <xs:documentation>Запрос сведений об ИНН физического лица на основании данных о ФИО и дате рождения</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="СвФЛ">
          <xs:annotation>
            <xs:documentation>Сведения о физическом лице, в отношении которого выполняется запрос</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element name="Отчество">
                <xs:annotation>
                  <xs:documentation>Отчество</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="60"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="ПризОтч">
                <xs:annotation>
                  <xs:documentation>Признак отсутствия отчества</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="1"/>
                    <xs:enumeration value="1"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="ДатаРожд" type="tns:ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата рождения</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="Фамилия" use="required">
              <xs:annotation>
                <xs:documentation>Фамилия</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Имя" use="required">
              <xs:annotation>
                <xs:documentation>Имя</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:enumeration value="4.01"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ИдЗапросП" use="optional">
        <xs:annotation>
          <xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="36"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>