gws-client-fns-3777/src/main/resources/fns3777/FNS2NDFLWS_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2.--><xs:schema targetNamespace="http://ws.unisoft/FNS2NDFLWS/sendQuery" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.unisoft/FNS2NDFLWS/sendQuery">
  <xs:element name="Документ">
    <xs:annotation>
      <xs:documentation>Запрос в Федеральную налоговую службу по сведениям по справкам о доходах физических лиц (по форме 2-НДФЛ)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="СвНА">
          <xs:annotation>
            <xs:documentation>Сведения о налоговом агенте</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element name="СвНАЮЛ">
                <xs:annotation>
                  <xs:documentation>Сведения о налоговом агенте - организации</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:attribute name="ИННЮЛ" type="tns:ИННЮЛТип" use="required">
                    <xs:annotation>
                      <xs:documentation>ИНН организации</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="КПП" type="tns:КППТип" use="required">
                    <xs:annotation>
                      <xs:documentation>КПП</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="СвНАФЛ">
                <xs:annotation>
                  <xs:documentation>Сведения о налоговом агенте - физическом лице</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИО" type="tns:ФИОТип">
                      <xs:annotation>
                        <xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ИННФЛ" use="optional">
                    <xs:annotation>
                      <xs:documentation>ИНН физического лица</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="tns:ИННФЛТип"/>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="СНИЛС" use="required">
                    <xs:annotation>
                      <xs:documentation>Страховой номер индивидуального лицевого счета</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:length value="14"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:element name="СвФЛ">
          <xs:annotation>
            <xs:documentation>Сведения о физическом лице</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ФИОФЛ" type="tns:ФИОТип">
                <xs:annotation>
                  <xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="УдЛичн" type="tns:УдЛичнФЛКТип">
                <xs:annotation>
                  <xs:documentation>Сведения о документе, удостоверяющем личность физического лица</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ДатаРожд" type="tns:ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата рождения</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="ИННФЛ" type="tns:ИННФЛТип" use="optional">
              <xs:annotation>
                <xs:documentation>ИНН физического лица</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="СНИЛС" use="required">
              <xs:annotation>
                <xs:documentation>Страховой номер индивидуального лицевого счета</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="14"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="НомЗаявФЛ" use="required">
              <xs:annotation>
                <xs:documentation>Номер заявления физического лица</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="25"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ДатаЗаявФЛ" type="tns:ДатаТип" use="required">
              <xs:annotation>
                <xs:documentation>Дата заявления физического лица</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:enumeration value="4.01"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ИдЗапросП" use="optional">
        <xs:annotation>
          <xs:documentation>Идентификатор запроса, сформированный запрашивающей стороной</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="36"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ТипЗапросП" use="required">
        <xs:annotation>
          <xs:documentation>Тип запроса</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ОтчетГод" type="xs:gYear" use="required">
        <xs:annotation>
          <xs:documentation>Отчетный налоговый период</xs:documentation>
          <xs:documentation>Год в формате ГГГГ</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="КодУслуги" use="optional">
        <xs:annotation>
          <xs:documentation>Код (идентификатор) государственной услуги</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="11"/>
            <xs:pattern value="[0-9]{11}"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="УдЛичнФЛКТип">
    <xs:annotation>
      <xs:documentation>Сведения о документе, удостоверяющем личность (краткое)</xs:documentation>
    </xs:annotation>
    <xs:attribute name="КодВидДок" use="required">
      <xs:annotation>
        <xs:documentation>Код вида документа, удостоверяющего личность</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="tns:СПДУЛТип"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="СерНомДок" use="required">
      <xs:annotation>
        <xs:documentation>Серия и номер документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="25"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Фамилия" use="required">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Имя" use="required">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Отчество" use="optional">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="КППТип">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СПДУЛТип">
    <xs:annotation>
      <xs:documentation>Коды Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>