gws-client-fns-3777/src/main/resources/fns3777/FNS2NDFLWS_1_2_3_4_5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2.--><xs:schema targetNamespace="http://ws.unisoft/FNS2NDFLWS/getResultResponse" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.unisoft/FNS2NDFLWS/getResultResponse">
  <xs:element name="Документ">
    <xs:annotation>
      <xs:documentation>Ответ Федеральной налоговой службы на запрос в части представления сведений по справкам о доходах физических лиц (по форме 2-НДФЛ)</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="КолДокНА">
          <xs:annotation>
            <xs:documentation>Сведения о количестве представленных налоговым агентом справок о доходах физических лиц по форме 2-НДФЛ</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:attribute name="ОтчетГод" type="xs:gYear" use="required">
              <xs:annotation>
                <xs:documentation>Отчетный налоговый период</xs:documentation>
                <xs:documentation>Год в формате ГГГГ</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="КолДок" use="required">
              <xs:annotation>
                <xs:documentation>Количество справок, представленных налоговым агентом за запрашиваемый налоговый период</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:totalDigits value="9"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="ДохФЛ">
          <xs:annotation>
            <xs:documentation>Сведения о доходах физического лица по справкам 2-НДФЛ</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ПолучДох">
                <xs:annotation>
                  <xs:documentation>Данные о физическом лице - получателе дохода</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ФИО" type="tns:ФИОТип">
                      <xs:annotation>
                        <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="УдЛичнФЛ" type="tns:УдЛичнФЛКТип">
                      <xs:annotation>
                        <xs:documentation>Сведения о документе, удостоверяющем личность</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ИННФЛ" type="tns:ИННФЛТип" use="optional">
                    <xs:annotation>
                      <xs:documentation>ИНН  физического лица</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ДатаРожд" type="tns:ДатаТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата рождения</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="ДохФЛ_НА" maxOccurs="unbounded">
                <xs:annotation>
                  <xs:documentation>Сведения о доходах физического лица по справкам 2-НДФЛ по налоговому агенту</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="СвНА">
                      <xs:annotation>
                        <xs:documentation>Сведения о налоговом агенте</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:choice>
                          <xs:element name="СвНАЮЛ">
                            <xs:annotation>
                              <xs:documentation>Сведения о налоговом агенте - организации</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="НаимОрг" use="required">
                                <xs:annotation>
                                  <xs:documentation>Наименование организации</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="1000"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ИННЮЛ" type="tns:ИННЮЛТип" use="required">
                                <xs:annotation>
                                  <xs:documentation>ИНН организации</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="КПП" type="tns:КППТип" use="required">
                                <xs:annotation>
                                  <xs:documentation>КПП</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="СвНАФЛ">
                            <xs:annotation>
                              <xs:documentation>Сведения о налоговом агенте - физическом лице</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ФИО" type="tns:ФИОТип">
                                  <xs:annotation>
                                    <xs:documentation>Фамилия, имя, отчество физического лица</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ИННФЛ" type="tns:ИННФЛТип" use="required">
                                <xs:annotation>
                                  <xs:documentation>ИНН физического лица</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="СНИЛС" use="required">
                                <xs:annotation>
                                  <xs:documentation>Страховой номер индивидуального лицевого счета</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:length value="14"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="СведДох" maxOccurs="unbounded">
                      <xs:annotation>
                        <xs:documentation>Сведения о доходах физического лица</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="ДохВыч">
                            <xs:annotation>
                              <xs:documentation>Доходы, облагаемые по ставке</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="СвСумДох" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>Сведения о суммах дохода по месяцам и кодам дохода</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="СвСумВыч" type="tns:СведВыч" minOccurs="0" maxOccurs="unbounded">
                                        <xs:annotation>
                                          <xs:documentation>Сведения о суммах вычета</xs:documentation>
                                        </xs:annotation>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="Месяц" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Месяц</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:length value="2"/>
                                          <xs:enumeration value="01"/>
                                          <xs:enumeration value="02"/>
                                          <xs:enumeration value="03"/>
                                          <xs:enumeration value="04"/>
                                          <xs:enumeration value="05"/>
                                          <xs:enumeration value="06"/>
                                          <xs:enumeration value="07"/>
                                          <xs:enumeration value="08"/>
                                          <xs:enumeration value="09"/>
                                          <xs:enumeration value="10"/>
                                          <xs:enumeration value="11"/>
                                          <xs:enumeration value="12"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="КодДоход" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Код дохода</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:length value="4"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="СумДоход" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Сумма дохода</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:decimal">
                                          <xs:totalDigits value="15"/>
                                          <xs:fractionDigits value="2"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="НалВычССИ" minOccurs="0">
                            <xs:annotation>
                              <xs:documentation>Стандартные, социальные и имущественные налоговые вычеты</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ПредВычССИ" type="tns:СведВыч" maxOccurs="unbounded">
                                  <xs:annotation>
                                    <xs:documentation>Суммы предоставленных налогоплательщику налоговых вычетов</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="УведИмущВыч" minOccurs="0">
                                  <xs:annotation>
                                    <xs:documentation>Сведения об Уведомлении, подтверждающем право на имущественный налоговый вычет</xs:documentation>
                                  </xs:annotation>
                                  <xs:complexType>
                                    <xs:attribute name="НомерУвед" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Номер уведомления, подтверждающего право на имущественный налоговый вычет</xs:documentation>
                                      </xs:annotation>
                                      <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                          <xs:minLength value="1"/>
                                          <xs:maxLength value="20"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                    <xs:attribute name="ДатаУвед" type="tns:ДатаТип" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Дата выдачи уведомления</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                    <xs:attribute name="ИФНСУвед" type="tns:СОНОТип" use="required">
                                      <xs:annotation>
                                        <xs:documentation>Код налогового органа, выдавшего уведомление</xs:documentation>
                                      </xs:annotation>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="СГДНалПер">
                            <xs:annotation>
                              <xs:documentation>Общие суммы дохода и налога по итогам налогового периода</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="СумДохОбщ" use="required">
                                <xs:annotation>
                                  <xs:documentation>Общая сумма дохода</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="15"/>
                                    <xs:fractionDigits value="2"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НалБаза" use="required">
                                <xs:annotation>
                                  <xs:documentation>Налоговая база</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="15"/>
                                    <xs:fractionDigits value="2"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НалИсчисл" use="required">
                                <xs:annotation>
                                  <xs:documentation>Сумма налога исчисленная</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="12"/>
                                    <xs:fractionDigits value="0"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НалУдерж" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Сумма налога удержанная</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="12"/>
                                    <xs:fractionDigits value="0"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НалПеречисл" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Сумма налога перечисленная</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="12"/>
                                    <xs:fractionDigits value="0"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НалУдержЛиш" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Сумма налога, излишне удержанная налоговым агентом</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="12"/>
                                    <xs:fractionDigits value="0"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НалНеУдерж" use="required">
                                <xs:annotation>
                                  <xs:documentation>Сумма налога, не удержанная налоговым агентом</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:decimal">
                                    <xs:totalDigits value="12"/>
                                    <xs:fractionDigits value="0"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="Ставка" use="required">
                          <xs:annotation>
                            <xs:documentation>Ставка налога</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ОтчетГод" type="xs:gYear" use="required">
              <xs:annotation>
                <xs:documentation>Отчетный налоговый период</xs:documentation>
                <xs:documentation>Год в формате ГГГГ</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="КодОбр">
          <xs:annotation>
            <xs:documentation>Код обработки запроса</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="2"/>
              <xs:enumeration value="01"/>
              <xs:enumeration value="52"/>
              <xs:enumeration value="83"/>
              <xs:enumeration value="99"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:enumeration value="4.01"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ИдЗапросФ" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор запроса, сформированный ФНС</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:totalDigits value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="СведВыч">
    <xs:annotation>
      <xs:documentation>Сведения о вычетах</xs:documentation>
    </xs:annotation>
    <xs:attribute name="КодВычет" use="required">
      <xs:annotation>
        <xs:documentation>Код вычета</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="3"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="СумВычет" use="required">
      <xs:annotation>
        <xs:documentation>Сумма вычета</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:decimal">
          <xs:totalDigits value="15"/>
          <xs:fractionDigits value="2"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="УдЛичнФЛКТип">
    <xs:annotation>
      <xs:documentation>Сведения о документе, удостоверяющем личность (краткое)</xs:documentation>
    </xs:annotation>
    <xs:attribute name="КодВидДок" use="required">
      <xs:annotation>
        <xs:documentation>Код вида документа, удостоверяющего личность</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="tns:СПДУЛТип"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="СерНомДок" use="required">
      <xs:annotation>
        <xs:documentation>Серия и номер документа</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="25"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="АдрРФТип">
    <xs:annotation>
      <xs:documentation>Адрес в Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Индекс" use="optional">
      <xs:annotation>
        <xs:documentation>Индекс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="6"/>
          <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КодРегион" use="required">
      <xs:annotation>
        <xs:documentation>Код региона</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="tns:CCРФТип"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Район" use="optional">
      <xs:annotation>
        <xs:documentation>Район</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Город" use="optional">
      <xs:annotation>
        <xs:documentation>Город</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:maxLength value="50"/>
          <xs:minLength value="1"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="НаселПункт" use="optional">
      <xs:annotation>
        <xs:documentation>Населенный пункт</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Улица" use="optional">
      <xs:annotation>
        <xs:documentation>Улица</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Дом" use="optional">
      <xs:annotation>
        <xs:documentation>Дом</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Корпус" use="optional">
      <xs:annotation>
        <xs:documentation>Корпус</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Кварт" use="optional">
      <xs:annotation>
        <xs:documentation>Квартира</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="20"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Фамилия" use="required">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Имя" use="required">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Отчество" use="optional">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="КППТип">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП) - 5 и 6 знаки от 0-9 и A-Z</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СОНОТип">
    <xs:annotation>
      <xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СПДУЛТип">
    <xs:annotation>
      <xs:documentation>Коды Справочника видов документов, удостоверяющих личность налогоплательщика</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CCРФТип">
    <xs:annotation>
      <xs:documentation>Код из Справочника субъектов Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ДатаТип">
    <xs:annotation>
      <xs:documentation>Дата в формате ДД.ММ.ГГГГ (01.01.1800 - 31.12.2099)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="(((0[1-9]{1}|[1-2]{1}[0-9]{1})\.(0[1-9]{1}|1[0-2]{1}))|((30)\.(01|0[3-9]{1}|1[0-2]{1}))|((31)\.(01|03|05|07|08|10|12)))\.(18[0-9]{2}|19[0-9]{2}|20[0-9]{2})"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>