gws-client-fns-3551/src/main/resources/fns3551/FNSEGRService_24_1_2_3_4_5_6.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2.--><!--edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN)--><xs:schema targetNamespace="http://ws.unisoft/EGRNXX/FullFLUL" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.unisoft/EGRNXX/FullFLUL">
  <xs:element name="Документ">
    <xs:annotation>
      <xs:documentation>Запрос на получение ответа от Федеральной налоговой службы (сведений о юридических лицах (индивидуальных предпринимателях) из ЕГРЮЛ (ЕГРИП))</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="ИдЗапросФ" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор запроса, сформированный ФНС</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:totalDigits value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:enumeration value="4.02"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>