gws-client-fns-3551/src/main/resources/fns3551/FNSEGRService_24_1_2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2.--><!--edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by pc (GNIVC FNS RF)--><!--edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home)--><xs:schema targetNamespace="http://ws.unisoft/EGRNXX/ShortULReq" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="urn:exch:document:1.0" xmlns:tns="http://ws.unisoft/EGRNXX/ShortULReq">
  <xs:element name="Документ">
    <xs:annotation>
      <xs:documentation>Пакет запросов на предоставление из ЕГРЮЛ сведений о юридических лицах</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ЗапросЮЛ" maxOccurs="100">
          <xs:annotation>
            <xs:documentation>Идентификационные сведения о юридическом лице, в отношении которого составлен запрос</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element name="ОГРН" type="tns:ОГРНТип">
                <xs:annotation>
                  <xs:documentation>Основной государственный регистрационный номер юридического лица</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ИННЮЛ" type="tns:ИННЮЛТип">
                <xs:annotation>
                  <xs:documentation>ИНН юридического лица</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:attribute name="ИдЗапрос" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор запроса в пакете</xs:documentation>
                <xs:documentation>Указывается код GUID</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="36"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:enumeration value="4.02"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ИдДок" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор документа (пакета запросов)</xs:documentation>
          <xs:documentation>Указывается код GUID</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="36"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОГРНТип">
    <xs:annotation>
      <xs:documentation>Основной  государственный регистрационный номер юридического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="13"/>
      <xs:pattern value="[0-9]{13}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>