gws-client-fns-3551/src/main/resources/fns3551/FNSEGRService_24_1_2_3_4_5_6_7_8.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2.--><!--edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN)--><!--edited with XMLSPY v2004 rel. 4 U (http://www.xmlspy.com) by Home (Home)--><xs:schema targetNamespace="http://ws.unisoft/EGRNXX/ResponseKSUL" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="urn:exch:document:1.0" xmlns:tns="http://ws.unisoft/EGRNXX/ResponseKSUL">
  <xs:element name="Документ">
    <xs:annotation>
      <xs:documentation>Краткие сведения из ЕГРЮЛ о юридических лицах</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:choice>
        <xs:element name="Ответ" maxOccurs="100">
          <xs:annotation>
            <xs:documentation>Ответ на запрос</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice>
              <xs:element name="СвЮЛ">
                <xs:annotation>
                  <xs:documentation>Сведения о  юридическом лице</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="СвСтатус">
                      <xs:annotation>
                        <xs:documentation>Сведения о правоспособности (статусе) юридического лица</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="КодСтатусЮЛ" use="required">
                          <xs:annotation>
                            <xs:documentation>Код статуса юридического лица по справочнику СЮЛСТ</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:length value="3"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="НаимСтатусЮЛ" use="required">
                          <xs:annotation>
                            <xs:documentation>Наименование статуса юридического лица по справочнику СЮЛСТ</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="5"/>
                              <xs:maxLength value="500"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ДатаНачДейств" use="required">
                          <xs:annotation>
                            <xs:documentation>Дата начала действия указанных сведений</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:date"/>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="АдресРФ" type="tns:АдрРФТипВып">
                      <xs:annotation>
                        <xs:documentation>Сведения об адресе (месте нахождения) постоянно действующего исполнительного органа юридического лица (в случае  отсутствия постоянно действующего исполнительного органа юридического лица - иного органа или лица, имеющего право действовать от имени юридического лица без доверенности), по которому осуществляется связь с юридическим лицом</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="СвРегОрг">
                      <xs:annotation>
                        <xs:documentation>Сведения о регистрирующем (налоговом) органе по месту нахождения юридического лица</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="КодНО" type="tns:СОНОТип" use="required">
                          <xs:annotation>
                            <xs:documentation>Код органа по справочнику СОНО</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="НаимНО" use="required">
                          <xs:annotation>
                            <xs:documentation>Наименование регистрирующего (налогового) органа</xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="10"/>
                              <xs:maxLength value="250"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="СвУправлДеят" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Сведения о лице, имеющем право без доверенности действовать от имени юридического лица</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="СведДолжнФЛ" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                              <xs:documentation>Сведения о физическом лице, имеющем право без доверенности действовать от имени юридического лица, или управляющем - индивидуальном предпринимателе</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="ФИО" type="tns:ФИОТип">
                                  <xs:annotation>
                                    <xs:documentation>Фамилия, имя, отчество</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ВидДолжн" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Вид должностного лица по справочнику СКФЛЮЛ (указывается код по справочнику)</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:length value="2"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НаимВидДолжн" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Наименование вида должностного лица по справочнику СКФЛЮЛ</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="5"/>
                                    <xs:maxLength value="100"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="НаимДолжн" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Наименование должности</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:maxLength value="255"/>
                                    <xs:minLength value="1"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ИННФЛ" type="tns:ИННФЛТип" use="optional">
                                <xs:annotation>
                                  <xs:documentation>ИНН физического лица</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="ОГРНИП" type="tns:ОГРНИПТип" use="optional">
                                <xs:annotation>
                                  <xs:documentation>Основной государственный регистрационный номер индивидуального предпринимателя - управляющего юридическим лицом</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                          <xs:choice>
                            <xs:element name="УпрОргРос" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Сведения об управляющей организации - российском юридическом лице</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:attribute name="ОГРН" type="tns:ОГРНТип" use="optional">
                                  <xs:annotation>
                                    <xs:documentation>Основной государственный регистрационный номер юридического лица</xs:documentation>
                                  </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="ИНН" type="tns:ИННЮЛТип" use="optional">
                                  <xs:annotation>
                                    <xs:documentation>ИНН юридического лица</xs:documentation>
                                  </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="НаимЮЛПолн" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Полное наименование юридического лица</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="1000"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="УпрОргИн" minOccurs="0">
                              <xs:annotation>
                                <xs:documentation>Сведения об управляющей организации - иностранном юридическом лице</xs:documentation>
                              </xs:annotation>
                              <xs:complexType>
                                <xs:attribute name="ИНН" type="tns:ИННЮЛТип" use="optional">
                                  <xs:annotation>
                                    <xs:documentation>ИНН юридического лица</xs:documentation>
                                  </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="НаимЮЛПолн" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Полное наименование юридического лица</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="1000"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="ОКСМ" type="tns:ОКСМТип" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Код страны происхождения</xs:documentation>
                                    <xs:documentation>Принимает значение в соответствии с Общероссийским классификатором стран мира (ОКСМ)</xs:documentation>
                                  </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="НаимСтран" use="required">
                                  <xs:annotation>
                                    <xs:documentation>Наименование страны происхождения</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="250"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="АдрСтр" use="optional">
                                  <xs:annotation>
                                    <xs:documentation>Адрес (место нахождения) в стране происхождения</xs:documentation>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="255"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:complexType>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="СвУчетНО" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>Сведения об учете в налоговом органе</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:annotation>
                            <xs:documentation/>
                          </xs:annotation>
                          <xs:element name="СвНО">
                            <xs:annotation>
                              <xs:documentation>Сведения о налоговом органе, осуществившем постановку на учет юридического лица</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:attribute name="КодНО" type="tns:СОНОТип" use="required">
                                <xs:annotation>
                                  <xs:documentation>Код органа по справочнику СОНО</xs:documentation>
                                </xs:annotation>
                              </xs:attribute>
                              <xs:attribute name="НаимНО" use="required">
                                <xs:annotation>
                                  <xs:documentation>Наименование налогового органа</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="10"/>
                                    <xs:maxLength value="250"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ИНН" type="tns:ИННЮЛТип" use="required">
                          <xs:annotation>
                            <xs:documentation>ИНН юридического лица</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="КПП" type="tns:КППТип" use="required">
                          <xs:annotation>
                            <xs:documentation>КПП юридического лица</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                        <xs:attribute name="ДатаПостУч" type="xs:date" use="required">
                          <xs:annotation>
                            <xs:documentation>Дата постановки на учет в налоговом органе</xs:documentation>
                          </xs:annotation>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ОГРН" type="tns:ОГРНТип" use="required">
                    <xs:annotation>
                      <xs:documentation>Основной государственный регистрационный номер юридического лица</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ДатаОГРН" type="xs:date" use="required">
                    <xs:annotation>
                      <xs:documentation>Дата присвоения ОГРН</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="ИНН" type="tns:ИННЮЛТип" use="optional">
                    <xs:annotation>
                      <xs:documentation>ИНН юридического лица</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="КПП" type="tns:КППТип" use="optional">
                    <xs:annotation>
                      <xs:documentation>КПП юридического лица</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="НаимЮЛПолн" use="required">
                    <xs:annotation>
                      <xs:documentation>Полное наименование юридического лица</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="1000"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="НаимЮЛСокр" use="optional">
                    <xs:annotation>
                      <xs:documentation>Сокращенное наименование юридического лица</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="500"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="СумКап" use="optional">
                    <xs:annotation>
                      <xs:documentation>Сведения о размере уставного капитала (складочного капитала, уставного фонда, паевого фонда)</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="19"/>
                        <xs:fractionDigits value="4"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="КодОбр">
                <xs:annotation>
                  <xs:documentation>Код обработки</xs:documentation>
                  <xs:documentation>01 - запрашиваемые сведения не найдены</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:length value="2"/>
                    <xs:enumeration value="01"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="ИдЗапрос" use="required">
              <xs:annotation>
                <xs:documentation>Идентификатор запроса в пакете</xs:documentation>
                <xs:documentation>Указывается код GUID, соответствующий поступившему запросу в пакете запросов</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:length value="36"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ДатаВып" type="xs:date" use="required">
              <xs:annotation>
                <xs:documentation>Дата формирования сведений из ЕГРЮЛ</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="КодОбр">
          <xs:annotation>
            <xs:documentation>Код обработки</xs:documentation>
            <xs:documentation>01 - запрашиваемые сведения не найдены;
52 - ответ не готов</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:length value="2"/>
              <xs:enumeration value="01"/>
              <xs:enumeration value="52"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:choice>
      <xs:attribute name="ИдЗапросФ" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор запроса, сформированный ФНС</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:totalDigits value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ВерсФорм" use="required">
        <xs:annotation>
          <xs:documentation>Версия формата</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
            <xs:enumeration value="4.02"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ИдДок" use="required">
        <xs:annotation>
          <xs:documentation>Идентификатор документа (пакета запросов)</xs:documentation>
          <xs:documentation>Указывается код GUID, соответствующий поступившему пакету запросов</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:length value="36"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="АдрРФТипВып">
    <xs:annotation>
      <xs:documentation>Адрес в Российской Федерации (для выписок из ЕГРЮЛ/ЕГРИП)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Регион">
        <xs:annotation>
          <xs:documentation>Субъект Российской Федерации</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ТипРегион" use="required">
            <xs:annotation>
              <xs:documentation>Тип адресного объекта субъект (республика, край и т.п.)</xs:documentation>
              <xs:documentation>Принимает значение сокращенного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="10"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="НаимРегион" use="required">
            <xs:annotation>
              <xs:documentation>Наименование адресного объекта субъект (республика, край и т.п.)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="40"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Район" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Район (улус и т.п.)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ТипРайон" use="required">
            <xs:annotation>
              <xs:documentation>Тип адресного объекта район (улус и т.п.)</xs:documentation>
              <xs:documentation>Принимает значение сокращенного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="10"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="НаимРайон" use="required">
            <xs:annotation>
              <xs:documentation>Наименование адресного объекта район (улус и т.п.)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="40"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Город" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Город (волость и т.п.)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ТипГород" use="required">
            <xs:annotation>
              <xs:documentation>Тип адресного объекта город (волость и т.п.)</xs:documentation>
              <xs:documentation>Принимает значение сокращенного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="10"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="НаимГород" use="required">
            <xs:annotation>
              <xs:documentation>Наименование адресного объекта город (волость и т.п.)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="40"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="НаселПункт" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Населенный пункт (село и т.п.)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ТипНаселПункт" use="optional">
            <xs:annotation>
              <xs:documentation>Тип адресного объекта населенный пункт (село и т.п.)</xs:documentation>
              <xs:documentation>Принимает значение сокращенного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="10"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="НаимНаселПункт" use="required">
            <xs:annotation>
              <xs:documentation>Наименование адресного объекта населенный пункт (село и т.п.)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="255"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
      <xs:element name="Улица" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Улица (проспект, 
переулок и т.п.)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:attribute name="ТипУлица" use="optional">
            <xs:annotation>
              <xs:documentation>Тип адресного объекта улица (проспект, 
переулок и т.п.)</xs:documentation>
              <xs:documentation>Принимает значение сокращенного наименования типа адресного объекта в соответствии с Классификатором адресов России  (КЛАДР)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="10"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
          <xs:attribute name="НаимУлица" use="required">
            <xs:annotation>
              <xs:documentation>Наименование адресного объекта улица (проспект, 
переулок и т.п.)</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:minLength value="1"/>
                <xs:maxLength value="255"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="Индекс" use="optional">
      <xs:annotation>
        <xs:documentation>Индекс</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:length value="6"/>
          <xs:pattern value="[0-9]{6}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КодРегион" use="required">
      <xs:annotation>
        <xs:documentation>Код субъекта Российской Федерации</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="tns:CCРФТип"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="КодАдрКладр" use="optional">
      <xs:annotation>
        <xs:documentation>Код адреса по КЛАДР</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="11"/>
          <xs:maxLength value="19"/>
          <xs:pattern value="[0-9]{11}"/>
          <xs:pattern value="[0-9]{15}"/>
          <xs:pattern value="[0-9]{19}"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Дом" use="optional">
      <xs:annotation>
        <xs:documentation>Дом (владение и т.п.)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Корпус" use="optional">
      <xs:annotation>
        <xs:documentation>Корпус (строение и т.п.)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Кварт" use="optional">
      <xs:annotation>
        <xs:documentation>Квартира (офис и т.п.)</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="50"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ФИОТип">
    <xs:annotation>
      <xs:documentation>Фамилия, имя, отчество</xs:documentation>
    </xs:annotation>
    <xs:attribute name="Фамилия" use="required">
      <xs:annotation>
        <xs:documentation>Фамилия</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Имя" use="required">
      <xs:annotation>
        <xs:documentation>Имя</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="Отчество" use="optional">
      <xs:annotation>
        <xs:documentation>Отчество</xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:minLength value="1"/>
          <xs:maxLength value="60"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="ИННФЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - физического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="12"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ИННЮЛТип">
    <xs:annotation>
      <xs:documentation>Идентификационный номер налогоплательщика - организации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="10"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="КППТип">
    <xs:annotation>
      <xs:documentation>Код причины постановки на учет (КПП)</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="9"/>
      <xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-F]{2})([0-9]{3})"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОГРНТип">
    <xs:annotation>
      <xs:documentation>Основной  государственный регистрационный номер юридического лица</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="13"/>
      <xs:pattern value="[0-9]{13}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОГРНИПТип">
    <xs:annotation>
      <xs:documentation>Основной государственный регистрационный номер индивидуального предринимателя</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="15"/>
      <xs:pattern value="[0-9]{15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ОКСМТип">
    <xs:annotation>
      <xs:documentation>Код из Общероссийского классификатора стран мира</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="3"/>
      <xs:pattern value="[0-9 ]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="СОНОТип">
    <xs:annotation>
      <xs:documentation>Коды из Классификатора системы обозначений налоговых органов</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="4"/>
      <xs:pattern value="[0-9]{4}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CCРФТип">
    <xs:annotation>
      <xs:documentation>Код из Справочника субъектов Российской Федерации</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:length value="2"/>
      <xs:pattern value="[0-9]{2}"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>